:host {
  display: block;
  width: 100%;

  .card {
    .content {
      display: flex;

      .left-side {
        width: 40%;

        .left-product-card-side {
          display: block;
          height: 100%;
        }
      }

      .right-side {
        width: 60%;
      }
    }
  }
}
