:host {
  display: block;

  .nav {
    background-color: var(--top-navigation-bg);
    display: flex;
    width: 100%;
    padding: var(--offset);

    > * {
      display: flex;
    }

    .left-nav {
      width: 20%;
    }

    .center-nav {
      width: 60%;
    }
  }
}
