<nav class="nav">
	<div class="left-nav">
		<div class="logo-container"></div>
		<div class="deliver-button clickable">
			<mat-icon class="location-icon">place</mat-icon>
			<div class="text-content">
				Доставка по<br />
				<span class="country">России</span>
			</div>
		</div>
	</div>
	<div class="center-nav">
		<global-search-input class="global-search-input"></global-search-input>
	</div>
	<div class="right-nav">
		<div class="cart-container">
			<mat-icon class="cart-icon">shopping_cart</mat-icon>
		</div>
	</div>
</nav>
